Checks: '-*,
  cert-*,-cert-err58-cpp,
  clang-diagnostic-*,
  clang-analyzer-*,
  hicpp-*,-hicpp-avoid-c-arrays,-hicpp-no-array-decay,hicpp-explicit-*,-hicpp-use-equals-default,-hicpp-signed-bitwise,-hicpp-special-member-functions,-hicpp-use-equals-delete,
  misc-*,-misc-non-private-member-variables-in-classes,
  modernize-*,modernize-use-*,modernize-avoid-c-arrays,-modernize-use-trailing-return-type,-modernize-use-nodiscard
  performance-*,
  portability-*,
  readability-*
'
WarningsAsErrors: '*'
AnalyzeTemporaryDtors: false
FormatStyle: file
User: arr-txdev7
CheckOptions:
  - key: llvm-else-after-return.WarnOnConditionVariables
    value: 'false'
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: modernize-replace-auto-ptr.IncludeStyle
    value: llvm
  - key: cert-str34-c.DiagnoseSignedUnsignedCharComparisons
    value: 'false'
  - key: google-readability-namespace-comments.ShortNamespaceLines
    value: '10'
  - key: cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value: 'false'
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 'true'
  - key: cert-dcl16-c.NewSuffixes
    value: 'L;LL;LU;LLU'
  - key: google-readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key: modernize-pass-by-value.IncludeStyle
    value: llvm
  - key: google-readability-namespace-comments.SpacesBeforeComments
    value: '2'
  - key: modernize-loop-convert.MaxCopySize
    value: '16'
  - key: cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: 'true'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: llvm-qualified-auto.AddConstToQualified
    value: 'false'
  - key: modernize-loop-convert.NamingStyle
    value: CamelCase
  - key: llvm-else-after-return.WarnOnUnfixable
    value: 'false'
  - key: google-readability-function-size.StatementThreshold
    value: '800'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  - key: readability-identifier-naming.VirtualMethodCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.ConstantMemberCase
    value: camelBack
  - key: readability-identifier-naming.MemberSuffix
    value: _
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  #  - key:             readability-identifier-naming.EnumConstantCase
  #    value:           CamelCase
  - key: readability-identifier-naming.TypeAliasPrefix
    value: 't_'
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
